$color-red: #eb1515;
body {
  font-family: Helvetica, Arial, sans-serif;
}
html {
  font-size: 16px;
}
.backgroun-color-red {
  background-color: $color-red;
}
.color-red {
  color: $color-red;
}
.color-white {
  color: white;
}
.color-black {
  color: #303030;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  &:hover {
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
  }
}
.menu {
  ul {
    display: flex;
    li {
      font-size: 0.8rem;
      height: 100px;
      width: 90px;
      color: white;
      padding: 0 10px;
      border-right: solid 1px white;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: #cecece;
        color: $color-red;
        text-decoration: underline;
      }
    }
    :nth-child(7) {
      border-right: none;
    }
  }
}
.banner-height {
  height: 10rem;
}
 
.control-1 {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center; 
  :nth-child(1)
  {
    margin: 2rem;
  }
}

.input-text-1 {
  width: 7rem;
   text-align: right;
   font-size: 1.3rem;
   
}
.text-style-1 {
  font-size: 1.1rem;
  font-weight: lighter;
  opacity: 0.8;
}
.text-style-2 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: lighter;
  opacity: 0.8;
}

.info {
  opacity: 0.8;
  font-size: 0.7rem;
  line-height: 0.9rem;
  margin-top: 2rem;
}

.monthly-fee {
  background-color: #f8f8f8;
  height: 375px;
  box-shadow: 5px 5px 26px -3px rgba(163, 157, 163, 1);
  padding: 2rem 0 2rem 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h6 {
    font-weight: bolder;
  }
  h2 {
    margin-top: 1rem;
    color: $color-red;
    font-size: 3rem;
  }
  a {
    font-size: 0.7rem;
    display: block;
    text-align: center;
    margin-top: 1rem;
    text-decoration: underline;
    cursor: pointer;
  }
}
.monthly-fee-line {
  width: 80%;
  height: 1px;
  background-color: #dddddd;
  margin: 0 auto;
}
.monthly-fee-detail {
  display: flex;
  padding: 0 1rem;
  p {
    padding: 0;
    margin: 0;
    width: 50%;
    height: 3rem;
    font-size: 0.7rem;
  }
  :nth-child(1) {
    display: flex;
    align-items: center;
  }

  :nth-child(2) {
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    span {
      text-align: right;
    }
  }
}
